:root{
    --ff-adidas:'MuseoModerno', cursive;
}

html,body,footer{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    scrollbar-color: white grey;
    scrollbar-width: thin;
    font-family: var(--ff-adidas);
}
footer{
    padding-left: 1rem;
    padding-right: 1rem;
}
a,h1{
    font-family: var(--ff-adidas);
}
/*
    Colors 
    https://bulma.io/documentation/helpers/color-helpers/ 
*/
/* 
Fa ICONS UNICODE
<i class="fa">&#xf07a;</i>
https://fontawesome.com/cheatsheet/free/solid
*/